@import '../../variables';

.circle {
    
   cursor: pointer;
    transform: translate(-50%, -50%);
   border-radius: 50%;
}

.totalConfirmedCases {
    fill: rgba($color: $confirmedColor, $alpha: 0.1);
    stroke: rgba($color: $confirmedColor, $alpha: 0.3);
}

.totalDeaths{
    fill: rgba($color: $deathsColor, $alpha: 0.1);
    stroke: rgba($color: $deathsColor, $alpha: 0.3);
}

.totalRecoveredCases {
    fill: rgba($color: $recoveredColor, $alpha: 0.1);
    stroke: rgba($color: $recoveredColor, $alpha: 0.3);
}