.stats-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-rows: repeat(4, minmax(110px, 1fr));
    padding-top: 30px;
  

    .stat-field {
    min-width: 100px;

    &:last-child {
    
        grid-column: 1 / span 2;
    }

     .stat-name {
        color: #6dc8d6;
     }

     .stat-value {
        font-size: 25px;
        margin: 10px;
        border: 1px solid rgba(#6dc8d6, 0.1);
        padding: 8px 10px;
        border-radius: 15px;

        @media only screen and (max-width: 450px) {
            font-size: 20px;
        }
    }
    }


}