.stats-container {
    background-color: rgb(36, 36, 36);
    position: fixed;
    z-index: 3;
    width: 80vw;
    margin-left: 10vw;
    height: 100vh;
    border-radius: 5px;
    transform: translateY(100%);
    transition: 0.3s ease-in-out;

    &.active {
    transform: translateY(0);
    transition: 0.3s ease-in-out;
    }

    @media only screen and (max-width: 600px) {
        width: 100vw;
        margin-left: 0;
    }

}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, 140px);
    padding-top: 50px;
  

    .stat-field {
    min-width: 100px;

     .stat-name {
        color: #6dc8d6;
     }

     .stat-value {
        font-size: 25px;
        margin: 20px;
        border: 1px solid rgba(#6dc8d6, 0.1);
        padding: 10px;
        border-radius: 15px;

        @media only screen and (max-width: 450px) {
            font-size: 20px;
        }
    }
    }


}