.h {
  transition: 0.3s;
}

.mapboxgl-popup-content {
//    height: 300px;
    width: 180px;
    background-color: rgba(36, 36, 36, 0.9);
    
  }

  .mapboxgl-popup-tip {
   display: none;
  
  }

  